<section class="btn-guide">
  <p class="title-md">Buttons</p>

  <div class="btn-guide__container">
    <div>
      <p class="text-lg btn-ttl">Primary - btn--primary</p>
      <button class="btn btn--primary">
        <span>Scopri i piani di studi</span>
        <i class="icon-academy-arrow_forward"></i>
      </button>
    </div>
    <div>
      <p class="text-lg btn-ttl">Secondary - btn--secondary</p>
      <button class="btn btn--secondary">
        <span>Scarica la brochure</span>
        <i class="icon-academy-arrow_forward"></i>
      </button>
    </div>
    <div>
      <p class="text-lg btn-ttl">Tertiary - btn--tertiary</p>
      <button class="btn btn--tertiary">
        <span>Scarica la brochure</span>
        <i class="icon-academy-arrow_forward"></i>
      </button>
    </div>
  </div>
</section>
