<div>
  <h2 class="title-lg">Colors</h2>
  <div class="palette-container">
    <div class="swatch-group">
      <div class="swatch bg-primary"></div>
      <span class="text-primary">.bg-primary</span>
    </div>

    <div class="swatch-group">
      <div class="swatch bg-secondary"></div>
      <span class="text-primary">.bg-secondary</span>
    </div>

    <div class="swatch-group">
      <div class="swatch bg-tertiary"></div>
      <span class="text-primary">.bg-tertiary</span>
    </div>
  </div>
</div>
