<section class="icon-container">
  <p class="title-md icon-container__ttl">Icons</p>
  <div class="icon-wrapper">
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-account_balance   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-account_balance"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-cell_merge   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-cell_merge"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-arrows_output   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-arrows_output"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-receipt_long   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-receipt_long"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-graph_5   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-graph_5"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-school   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-school"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-download   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-download"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-arrow_forward   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-arrow_forward"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-search   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-search"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-Vector   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-Vector"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-help   title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-help"&gt;&lt;/i&gt;</code>
      </div>
    </div>
    <div class="icon-card">
      <div class="icon-card__visual">
        <i class="icon-academy-Group-1171274760  title-md"></i>
      </div>
      <div class="icon-card__code">
        <code>&lt;i class="icon-academy-Group-1171274760"&gt;&lt;/i&gt;</code>
      </div>
    </div>
  </div>
</section>
