<section class="typo-wrapper">
  <p class="typo__title title-md">Typography Title</p>
  <div class="typo">
    <div class="typo__ttl">
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">title 1 -</span>
          .title-xl
        </p>
        <p class="title-xl">Lorem ipsum</p>
      </div>
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">title 2 -</span>
          .title-lg
        </p>
        <p class="title-lg">Lorem ipsum dolor sit amet</p>
      </div>
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">title 3 -</span>
          .title-md
        </p>
        <p class="title-md">Lorem ipsum dolor sit amet</p>
      </div>
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">title 4 -</span>
          .title-sm
        </p>
        <p class="title-sm">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <p class="typo__title title-md">Typography Body</p>

    <div class="typo__body">
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">body 1 -</span>
          .text-lg
        </p>
        <p class="text-lg">Lorem ipsum sit amet</p>
      </div>
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">body 2 -</span>
          .text-md
        </p>
        <p class="text-md">Lorem ipsum dolor sit amet</p>
      </div>
      <div class="typo__ttl__card">
        <p class="text-md pre-title">
          <span class="text-uppercase">body 3 -</span>
          .text-normal
        </p>
        <p class="text-normal">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
</section>
