.hero-banner {
    background-color: $color-secondary;
    overflow: hidden;
    position: relative;

    &__main-container {
        height: 100%;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        padding: 0px;
        margin: 0px;
        height: 100%;

        @include mobile-only {
            flex-direction: column;
        }
    }

    &__content {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        justify-content: center;

        @include mobile-only {
            padding-left: 32px;
            margin-top: 40px;
            width: 100%;
        }

    }

    &__breadcrumb-wrapper {
        position: absolute;
        top: 16px;
        padding-left: 100px;

        @include mobile-only {
            top: 0px;
            position: relative;
            padding-left: 16px;
        }
    }

    &__title {
        margin-bottom: 0.75rem;
    }

    &__description {
        margin-bottom: 2rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 320px;
    }

    &__carousel-nav {
        position: relative;
        bottom: 32px;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
        padding-left: 100px;

        @include mobile-only {
            position: relative;
            bottom: 0px;
            padding: 32px;
        }
    }

    &__carousel-arrow {
        border-radius: 50%;
        width: 52px;
        height: 52px;
        border: none;
        background: #fff;
        cursor: pointer;
        color: var(--theme-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

        &:hover {
            background: #f7fafc;
        }
    }

    &__navigation-buttons {
        display: flex;
        gap: 16px;
    }

    &__pagination {
        display: none;

        @include mobile-only {
            display: block;
        }

        .swiper-pagination-bullet {
            display: inline-block !important;
            width: 14px !important;
            height: 14px !important;
            background: #FFFFFF !important;
            opacity: 1 !important;
            border-radius: 50% !important;
            margin: 0 4px !important;
            transition: width 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            width: 32px !important;
            height: 14px !important;
            background-color: $color-primary !important;
            border-radius: 30px !important;
        }
    }

    &__visual {
        flex: 1 1 50%;
        display: flex !important;
        justify-content: flex-end;

        width: 100%;

        max-height: 493px;
        overflow: hidden;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;

        .cmp-atomic-image {
            display: block;
            width: 100% !important;
            height: 100% !important;

            &__image {
                border-radius: inherit;
                width: 100% !important;
                height: 100% !important;
                object-fit: cover !important;
                object-position: center;
            }

            @include mobile-only {
                padding-left: 16px;
            }
        }
    }
}