<div>
  <div>
    <sly
      data-sly-resource="${'pretitle' @ resourceType='/apps/wknd/components/atomics/title'}"
    >
    </sly>
  </div>
  <div>
    <sly
      data-sly-resource="${'title' @ resourceType='/apps/wknd/components/atomics/title'}"
    >
    </sly>
  </div>
  <div>
    <sly
      data-sly-resource="${'caption' @ resourceType='/apps/wknd/components/atomics/title'}"
    >
    </sly>
  </div>
  <div>
    <sly
      data-sly-resource="${'cta-1' @ resourceType='/apps/wknd/components/atomics/button'}"
    >
    </sly>
  </div>
</div>
