.guide {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.palette-container {
  display: flex;
  gap: 1.5rem;
}

.swatch-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  .swatch {
    width: 80px;
    height: 80px;
    border-radius: 2px;
  }
}

.typo__title,
.icon-container__ttl,
.btn-ttl {
  font-family: "Atkinson", sans-serif;
}

.typo__ttl,
.typo__body {
  border: 1px solid #aacedf;
  border-bottom: none;
  margin: 20px 0;
}
.typo__ttl__card {
  padding: 20px;
  border-bottom: 1px solid #aacedf;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .pre-title {
    margin-bottom: 0;
    span {
      font-weight: 700;
      color: $color-primary;
    }
  }
}
.typo__ttl__card .title-xl,
.typo__ttl__card .title-lg,
.typo__ttl__card .title-md,
.typo__ttl__card .title-sm,
.typo__ttl__card p {
  margin: 0;
}

.btn-guide__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;

  .btn-ttl {
    margin: 15px 0px;
  }
}
.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
.icon-card {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--theme-primary);
}
.icon-card__code {
  padding: 5px;
  background-color: var(--theme-secondary);
}
