<template data-sly-template.slide="${@ namePrefix}">
  <sly data-sly-test="${!isHidden}">
    <div class="swiper-slide hero-banner__container slide-item">
      <div class="hero-banner__content">
        <div class="hero-banner__pretitle">
          <sly
            data-sly-resource="${'{0}pretitle' @ format=[namePrefix], resourceType='wknd/components/atomics/title'}"
          ></sly>
        </div>

        <div class="hero-banner__title">
          <sly
            data-sly-resource="${'{0}title' @ format=[namePrefix], resourceType='wknd/components/atomics/title'}"
          ></sly>
        </div>

        <div class="hero-banner__description">
          <sly
            data-sly-resource="${'{0}caption' @ format=[namePrefix], resourceType='wknd/components/atomics/text'}"
          ></sly>
        </div>

        <div class="hero-banner__actions">
          <div class="hero-banner__action">
            <sly
              data-sly-resource="${'{0}ctaPrimary' @ format=[namePrefix], resourceType='wknd/components/atomics/button'}"
            ></sly>
          </div>
          <div class="hero-banner__action">
            <sly
              data-sly-resource="${'{0}cta-2-Primary' @ format=[namePrefix], resourceType='wknd/components/atomics/button'}"
            ></sly>
          </div>
        </div>
      </div>

      <div class="hero-banner__visual">
        <sly
          data-sly-resource="${'{0}heroImage' @ format=[namePrefix], resourceType='wknd/components/atomics/image'}"
        ></sly>
      </div>
    </div>
  </sly>
</template>
