<div
  class="hero-banner ${wcmmode.edit ? 'is-edit-mode' : ''}"
  data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
  id="${component.id}"
>
  <sly
    data-sly-use.bannerModel="com.adobe.aem.guides.wknd.core.models.TopBannerModel"
  ></sly>
  <sly data-sly-use.sliderTemplate="slider.html"></sly>
  <div>
    <div
      class="swiper hero-banner__swiper"
      data-speed="${properties.autoplaySpeed || 5000}"
    >
      <!--/* <div class="swiper-wrapper">
        <sly data-sly-use.tpl="slider.html" />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide1_', isHidden=properties.hideSlide1}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide2_', isHidden=properties.hideSlide2}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide3_', isHidden=properties.hideSlide3}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide4_', isHidden=properties.hideSlide4}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide5_', isHidden=properties.hideSlide5}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide6_', isHidden=properties.hideSlide6}"
        />
      </div> */-->
      <div class="swiper-wrapper">
        <sly data-sly-use.tpl="slider.html" />

        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide1_', isHidden=properties.hideSlide1}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide2_', isHidden=properties.hideSlide2}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide3_', isHidden=properties.hideSlide3}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide4_', isHidden=properties.hideSlide4}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide5_', isHidden=properties.hideSlide5}"
        />
        <sly
          data-sly-call="${tpl.slide @ namePrefix='slide6_', isHidden=properties.hideSlide6}"
        />
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="hero-banner__carousel-nav">
      <button class="hero-banner__carousel-arrow js-banner-prev">
        <i class="icon-academy-right u-rotate-180"></i>
      </button>
      <button class="hero-banner__carousel-arrow js-banner-next">
        <i class="icon-academy-right"></i>
      </button>
    </div>
  </div>
</div>
