//== Base

:root {
    --theme-bg: #{$color-white};
    --theme-text-secondary: #{$color-white};
    --theme-primary: #{$color-primary};
    --theme-secondary: #{$color-secondary};
    --theme-tertiary: #{$color-tertiary};
}

[data-theme="dark"] {
    --theme-bg: #{$color-primary};
    --theme-primary: #{$color-white};
    --theme-text-secondary: #{$color-primary};
    --theme-secondary: #{$color-secondary-dark};
    --theme-tertiary: #{$color-tertiary-dark};
}

html,
body {
    margin: 0;
    font-size: $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color: var(--theme-text);
    background-color: var(--theme-bg);
}


a {
    color: var(--theme-primary);
    text-decoration: none;
}

p {
    margin: 0px;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}